.main-container {
  display: block;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #FFFFFF; }

#canvas {
  display: none; }

#pin {
  background: #FFFFFF;
  width: 40em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: .3em;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  margin: 2em auto;
  color: rgba(255, 255, 255, 0.2); }

.dot {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.8em;
  width: 0.8em;
  height: 0.8em;
  font-size: 80px;
  color: #2aabd2;
  letter-spacing: 8px;
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.7, 0.7, 0.7); }

.hint {
  font-size: 1.5em;
  color: #2aabd2;
  margin: .1em 0; }

.numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  margin: 1em 0; }

.md-button.md-default-theme:not([disabled]) {
  font-size: 30px;
  min-width: 200px;
  min-height: 70px; }

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.md-button.md-raised.md-large {
  font-weight: 700;
  font-size: 30px;
  min-width: 90%;
  height: 70px; }

.material-icons.md-96 {
  margin: auto;
  font-size: 96px;
  position: relative; }

.login-logo {
  text-align: center;
  margin-top: 2em;
}

#login-img {
  width:232px;
  height:60px;
}

#password-container {
  margin: 18px 0px 2px 0px;
}

#login-select {
  margin:0;
}

#login-select-hint {
  margin:8px 0;
}

#login-submit-button {
  margin:10px 0;
}

#pin-enter-block {
  width:350px; padding-top: 2em;
}

#pin-delete-block {
  float: right; text-align:center; line-height:80px;
}

#pin-delete-img {
  padding-left: 65px; cursor: pointer; vertical-align: middle;
}

#pin-input-block {
  float: left; width:150px; padding-left: 65px;
}

#webcam-close-button {
  margin-top:10px;
}

#webcam-content-block {
  text-align: center;
  font-size: 30px;
}

.login-form {
  width: 380px;
  height: 250px;
  margin: 2em auto;
  padding: 1em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  font-family: 'Arial';
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }

.large-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: 95%;
  border-radius: 0; }

.span4 {
  width: 150px;
  float: left;
  margin: 0 8px 10px 8px; }

.num-pad {
  padding-left: 15px; }

.num {
  border: 1px solid #9e9e9e;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  -moz-border-radius: 999px;
  height: 150px;
  background-color: #fff;
  color: #333;
  cursor: pointer; }

.digit {
  font-size: 60px;
  text-align: center;
  margin-top: 55px;
  font-family: 'Lato' , sans-serif;
  line-height: 30px;
  color: #9EDCF4; }

:focus {
  outline: none; }

.text-animation {
  -webkit-animation: fadein 0.5s; }

.top-right-corner {
  position: absolute;
  top: 20px;
  right: 50px; }

.material-icons.md-36 {
  font-size: 36px; }

.md-dialog-content {
  min-width: 500px;
  font-size: 30px;
  margin: 0 auto;
  width: 600px
}

.md-title {
  font-size: 30px !important; }
