<body class="login-body">
<div class="anim-fade">
    <md-progress-linear md-mode="indeterminate" ng-show="isLoginLoading"></md-progress-linear>
    <div class="login-logo">
        <img src="./assets/logo@2x.png" id="login-img"/>
    </div>
    <form ng-submit="formSubmit()" class="login-form">
        <md-input-container class="md-block">
            <label>Email</label>
            <input required="" type="email" name="email" ng-model="email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
        </md-input-container>
        <md-input-container class="md-block" id="password-container">
            <label>Password</label>
            <input required="" type="password" name="password" ng-model="password"/>
        </md-input-container>
        <div layout="row" layout-align="space-between">
            <span id="login-select-hint">Please select your state:</span>
            <md-select ng-model="userState" placeholder="MA" id="login-select">
                <md-option ng-repeat="state in states" ng-value="state.abbrev">
                    {{state.abbrev}}
                </md-option>
            </md-select>
        </div>

        <md-button type="submit" class="md-raised md-primary" id="login-submit-button">Submit</md-button>

        <span class="text-danger">{{error}}</span>
    </form>
</div>
</body>