<body class="login-body">
	<div class="anim-fade">
		<md-progress-linear md-mode="indeterminate" ng-show="isLoginLoading"></md-progress-linear>
		<div class="login-logo">
			<img src="./assets/logo@2x.png" style="width:232px;height:60px"/>
		</div>
		<form ng-submit="formSubmit()" class="login-form">
			<div class="scrollable-content">
				<md-input-container class="md-block">
					<label>Email</label>
					<input required="" type="email" name="email" ng-model="email"
						   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
				</md-input-container>
				<md-input-container class="md-block" style="margin: 18px 0px 2px 0px">
						<label>Password</label>
						<input required="" type="password" name="password" ng-model="password"/>
				</md-input-container>
				<div layout="row" layout-align="space-between">
					<span style="margin:8px 0">Please select your state:</span>
					<md-select ng-model="userState" placeholder="MA" style="margin:0">
						<md-option ng-repeat="state in states" ng-value="state.abbrev">
							{{state.abbrev}}
						</md-option>
					</md-select>
				</div>
			</div>
			<div>
				<md-button type="submit" class="md-raised md-primary" style="margin:10px 0">Submit</md-button>
			</div>
			<span class="text-danger">{{error}}</span>
		</form>
	</div>
</body>