<div class="top-right-corner">
    <md-button class="md-fab" aria-label="exit" ng-click="exitWebcam()">
        <i class="material-icons md-36" id="webcam-close-button">close</i>
    </md-button>
</div>
<div ng-controller="WebcamCtrl" layout="column" layout-align="center center" style="height: 100%;">
    <div flex>
        <div>
            <webcam channel="channel"
                    on-streaming="onSuccess()"
                    on-error="onError(err)"
                    on-stream="onStream(stream)"
            ></webcam>
        </div>
    </div>

    <div flex ng-show="showButton" id="webcam-content-block">
        <p>Hi, {{username}}.</p>
        <p>{{lastClockIn}}</p>
        <md-button ng-click="makeSnapshot()" class="md-raised md-primary md-large">clock {{status}}</md-button>
    </div>

    <canvas ng-hide="true" id="snapshot" width="250" height="250"></canvas>
</div>